# Python
__pycache__/
*.py[cod]
*.so

# Build & Distribution
build/
dist/
*.egg-info/
*.egg
.eggs/
wheels/

# Cache
.mypy_cache/
.ruff_cache/

# Virtual Environment
.venv/
venv/
env/

# Database
*.db
*.db-*
*.sqlite
*.sqlite3

# Environment & Secrets
.env
.env.local
*.prod.yml
*prod

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Local patches
*.patch

# OS
.DS_Store
Thumbs.db
